<div class="compound-list-container">
    <div class="compound-list">
      <app-compound-item
        [ngStyle]="{ width: 'calc(33% - 20px)' }"
        *ngFor="let compound of compounds"
        [compound]="compound"
        (deleteClick)="deleteCompound($event)"
      ></app-compound-item>
    </div>

  </div>
  
  <div
    style="
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #000000;
      color: white;
    "
  >
    <div>
      <p
        style="cursor: pointer"
        *ngIf="currPage !== 1"
        [routerLink]="['']"
        [queryParams]="{ pg: 1 }"
      >
        Jump To first Page
      </p>
    </div>
    <div>
      <p>{{ "Page " + currPage + " of " + totalPage }}</p>
    </div>
    <div style="display: flex; justify-content: space-between; width: 10%">
      <p
        style="cursor: pointer"
        *ngIf="currPage !== 1"
        [routerLink]="['']"
        [queryParams]="{ pg: currPage - 1 }"
      >
        Prev
      </p>
      <p
        style="cursor: pointer"
        *ngIf="currPage !== totalPage"
        [routerLink]="['']"
        [queryParams]="{ pg: currPage + 1 }"
      >
        Next
      </p>
    </div>
  </div>
  